ipywidgets==8.1.5
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pypdf==5.1.0
python-dotenv==1.0.1
PyMuPDF==1.24.13
milvus==2.3.5
streamlit==1.39.0
openai==1.53.0
pylance==0.19.1
langchain-openai==0.2.5
langchain==0.3.7
azure-ai-formrecognizer==3.3.3
azure-ai-documentintelligence
# -U pymilvus
# -U langchain-community